
<main>
  @if (prodINFO) {
    <header>
      <h5><i class="fa-solid fa-phone"></i> *3333 / (0322) 255-55-55</h5>
      <div class="right">
        <h4>Blog</h4>
        <h4>Shops</h4>
        <h4>Sales</h4>
      </div>
    </header>
    <div class="linkInfo">
      <div class="address">
        <p routerLink="/">Main Page</p>
        <i class="fa-solid fa-angle-right"></i>
        <p routerLink="/shop">Computer Techics and Accessories</p>
        <i class="fa-solid fa-angle-right"></i>
        <p>{{ prodINFO.category.name }}</p>
      </div>
      <p>code: {{ prodINFO._id }}</p>
    </div>
    <section>
      <div class="gallery">
        <div class="aside">
          @for (item of allImages; track $index) {
            <img
              [src]="item"
              [class.activeImg]="item === mainImage"
              (click)="zoomImg(item)"
              alt="Image"
              (error)="$any($event.target).src = '/nophoto.jpg'"
            />
          }
        </div>
        <img
          [src]="mainImage"
          (error)="mainImage = altImage"
          class="mainImg"
          alt=""
        />
      </div>
      <div class="details">
        <h3>{{ prodINFO.title }}</h3>
        <div class="info">
          <div class="top">
            <div class="property">
              <p>Available in Shops:</p>
              <p>Brand:</p>
              <p>Issue Date:</p>
              <p>warrany</p>
            </div>
            <div class="prodValue">
              <h4 [style.color]="prodINFO.stock <= 0 ? 'red' : ''">
                {{ prodINFO.stock }}
              </h4>
              <h4>{{ prodINFO.brand }}</h4>
              <h4>{{ prodINFO.issueDate | date }}</h4>
              <h4>{{ prodINFO.warranty }} years</h4>
            </div>
          </div>
          <div class="bottom">
            <h2>
              {{ prodINFO.price.current | currency }}
              @if (prodINFO.price.current < prodINFO.price.beforeDiscount) {
                <span>{{ prodINFO.price.beforeDiscount | currency }}</span>
              }
            </h2>
            <p>From <span>$150</span> Monthly</p>
            <div class="down">
              <button [disabled]="prodINFO.stock <= 0">
                <i class="fa-solid fa-cart-shopping"></i> Add To Cart
              </button>
              <button><i class="fa-regular fa-star"></i> Rate Product</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  }
</main>

<!-- <app-sign-err></app-sign-err> -->
