<section class="container">
    <main>

    
    @for (item of productList; track $index) {
   <div class="card">
          <h6 [style.display]="item.stock > 0 ? 'none' : 'unset'">
            {{ item.stock <= 0 ? "Out of Stock" : "" }}
          </h6>
          <img
            [src]="
              !item.images[0] || item.images[0].startsWith('https://alta.ge')
                ? altImage
                : item.images[0]
            "
            alt="product"
          />
          <h4>{{ item.title }}</h4>
          <h2>$ {{ item.price.current }}</h2>
          <p>Old Price: <span>${{ item.price.beforeDiscount }}</span> </p>
          <button routerLink="/details/{{item._id}}">View More</button>
        </div>
}
</main>
<button routerLink="/shop" class="viewMore">View More</button>
</section>
