section {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    gap: 40px;
}

section main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
  width: 240px;
  height: 370px;
  padding: 10px;
  box-shadow: 0 0 2px 1px rgb(232, 229, 229);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  cursor: default;
  font-family: "Slabo 27px", serif;
}
.card h6 {
  position: absolute;
  transform: rotate(-39deg);
  background-color: #7f56d9;
  color: white;
  padding: 5px 20px;
  left: -22px;
  top: 10px;
  z-index: 10;
  font-family: "Slabo 27px", serif;
}
.card:hover {
  transform: scale(1.02);
}
.card:hover img {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 20px;
  transition: 0.4s;
}

.card h4 {
  font-weight: 500;
  font-family: "Slabo 27px", serif;

  font-weight: bold;
}

.card span {
  color: #7f56d9;
  font-weight: bold;
}

.card button, .viewMore {
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: #7f56d9;
  border-radius: 15px;
  color: white;
  font-family: "Google Sans Flex", sans-serif;
  font-size: 15px;
  box-shadow: 2px 3px 5px #7f56d9;
}


.viewMore {
  padding: 7px 30px;
}